<% if @cat.persisted? %>
  <form action="<%= cat_url(@cat) %>" method="post">
    <input type ="hidden" name="_method" value="PATCH">
<% else %>
  <form action="<%= cats_url %>" method="post">
<% end %>
		<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <label for="name">Name: </label>
    <input type="text" name="cat[name]" id="name" value="<%= @cat.name %>" /><br>

    <label for="age">Age: </label>
    <input type="text" name="cat[age]" id="age" value="<%= @cat.age %>" /><br>

    <label for="birth_date">Birth Date: </label>
    <input type="date" name="cat[birth_date]" id="birth_date" value="<%= @cat.birth_date %>" /><br>



    <label for="color">Coat color</label>
     <select name="cat[color]" id="color">
       <option></option>
       <% %w(black gray white brown tan orange calico tortie pewter).sort.each do |c| %>
         <% c.capitalize! %>
         <% if @cat.color == c %>
           <option value="<%= c %>" selected><%= c %></option>
         <% else %>
           <option value="<%= c %>"><%= c %></option>
         <% end %>
       <% end %>
     </select>
     <br>

    Sex:
    <label for="sex_m">Male</label>
    <input type="radio" name="cat[sex]" id="sex_m" value = "M" <%= "checked" if @cat.sex == "M"%> />
    <label for="sex_f">Female</label>
    <input type="radio" name="cat[sex]" id="sex_f" value = "F" <%= "checked" if @cat.sex == "F"%>/><br>


    <input type="submit", value="<%= @cat.persisted? ? "Edit Cat" : "Create Cat" %>", class="btn-success">
</form>