<center>

  <h1><%= @cat.name %></h1>
  <hr>

  <table border=1>
    <tr>
      <th width="20%">Age</th>
      <th width="20%">Color</th>
      <th width="20%">Birthdate</th>
      <th width="20%">Sex</th>
    </tr>

    <tr>
      <td><%= @cat.age %></td>
      <td><%= @cat.color %></td>
      <td><%= @cat.birth_date %></td>
      <td><%= @cat.sex %></td>
    </tr>

  </table>

  <h1>Rental Requests</h1>
  <table border=1>
    <tr>
      <th width="20%">Start Date</th>
      <th width="20%">End Date</th>
      <th width="20%">Status</th>
      <th width="20%">Action</th>
    </tr>

    <% @cat.cat_rental_requests.each do |request| %>
      <tr>
        <td><%= request.start_date %></td>
        <td><%= request.end_date %></td>
        <td><%= request.status %></td>
        <% if request.status == "PENDING" %>
          <td><%= button_to "Approve", approve_cat_rental_request_url(request) %>
              <%= button_to "Deny", deny_cat_rental_request_url(request) %></td>
        <% end %>
      </tr>
    <% end %>

  </table>
</center>
<hr>
<p><%= link_to "Request a cat", new_cat_rental_request_url %></p>
<%= link_to "Edit Cat", edit_cat_url(@cat) %> | <%= link_to "Back", cats_url %>
