<% provide(:title,  @cat.name ) %>
<center>

  <h1><%= yield(:title) %></h1>
  <table class="table" border="1" style="border: solid">
    <tr>
      <th><center>Age</center></th>
      <th><center>Color</center></th>
      <th><center>Birthdate</center></th>
      <th><center>Sex</center></th>
    </tr>
    <tr>
      <td><center><%= @cat.age %></center></td>
      <td><center><%= @cat.color %></center></td>
      <td><center><%= @cat.birth_date.strftime("%B %d, %Y") %></center></td>
      <td><center><%= @cat.sex %></center></td>
    </tr>
  </table>

	<hr>

  <h1>Rental Requests</h1>
  <table class="table">
    <tr>
      <th width="20%"><center>Start Date</center></th>
      <th width="20%"><center>End Date</center></th>
      <th width="20%"><center>Status</center></th>
      <th width="20%"><center>Action</center></th>
    </tr>

    <% @cat.cat_rental_requests.each do |request| %>
      <tr>
        <td><center><%= request.start_date.strftime("%B %d, %Y") %></center></td>
        <td><center><%= request.end_date.strftime("%B %d, %Y") %></center></td>
        <td><center><%= request.status %></td>
        <% if request.status == "PENDING" %>
          <td>
            <center>
              <%= button_to "Approve", approve_cat_rental_request_url(request), class: "btn-success" %>
              <%= button_to "Deny", deny_cat_rental_request_url(request), class: "btn-danger" %>
            </center>
          </td>
        <% end %>
      </tr>
    <% end %>

  </table>
</center>
<hr>
<p><%= link_to "Request a cat", new_cat_rental_request_url %></p>
<%= link_to "Edit Cat", edit_cat_url(@cat) %> | <%= link_to "Back", cats_url %>
